@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <a href="/Home/Asimetrico" class="btn btn-default">Pruebas encriptacion asimetricas</a>        
        <a href="/Home/Simetrico" class="btn btn-default">Pruebas encriptacion simetricas</a>        
    </div>
</div>